<div class="welcome-page">
  <div class="welcome-left">
    <div class="welcome-circle">
      <img src="assets/images/welcome.jpg" alt="AI" class="welcome-image" />
    </div>
  </div>
  <div class="welcome-right">
    <h1>LawGenius</h1>
    <!-- <p>AI-powered Legal Support</p> -->
    <p>Yapay Zeka Destekli Hukuki Danışmanlık</p>
    <!-- <button routerLink="/chatbot" class="chat-now-button">Chat now</button> -->
    <button routerLink="/chatbot" class="chat-now-button">Sohbete Başla</button>
  </div>
</div>