<div class="forgot-password-card">
  <h2>{{ 'forgot_password.title' | translate }}</h2>

  <!-- Hata ve Başarı Mesajları -->
  <div *ngIf="errorMessage" class="error-box">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="success-box">
    {{ successMessage }}
  </div>

  <!-- E-Posta Doğrulama Formu -->
  <form *ngIf="!emailVerified" (ngSubmit)="onEmailSubmit()" #emailForm="ngForm">
    <div class="form-group">
      <label for="email">{{ 'forgot_password.email_label' | translate }}</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required />
    </div>
    <button type="submit" [disabled]="!emailForm.valid">
      {{ 'forgot_password.continue_button' | translate }}
    </button>
  </form>

  <!-- Şifre Sıfırlama Formu -->
  <form *ngIf="emailVerified" (ngSubmit)="onPasswordReset()" #resetForm="ngForm">
    <div class="form-group">
      <label for="newPassword">{{ 'forgot_password.new_password_label' | translate }}</label>
      <div class="password-wrapper">
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          required
        />
        <button type="button" class="eye-button" (click)="toggleNewPasswordVisibility()">
          <svg *ngIf="showNewPassword" xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
            <path d="M12 5c-7 0-10 7-10 7s3 7 10 7 10-7 10-7-3-7-10-7zm0 12c-2.76 0-5-2.24-5-5s2.24-5 5-5
                    5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3
                    3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
          <svg *ngIf="!showNewPassword" xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
            <path d="M12 6c-5 0-9 4-9 6s4 6 9 6 9-4 9-6-4-6-9-6zm0 10c-2.21 0-4-1.79-4-4
                    0-.73.21-1.41.58-2l5.42 5.42c-.59.37-1.27.58-2 .58zm4-4c0 .73-.21 1.41-.58 2l-5.42-5.42c.59-.37
                    1.27-.58 2-.58 2.21 0 4 1.79 4 4z"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">{{ 'forgot_password.confirm_password_label' | translate }}</label>
      <div class="password-wrapper">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
        />
        <button type="button" class="eye-button" (click)="toggleConfirmPasswordVisibility()">
          <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
            <path d="M12 5c-7 0-10 7-10 7s3 7 10 7 10-7 10-7-3-7-10-7zm0 12c-2.76 0-5-2.24-5-5s2.24-5 5-5
                    5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3
                    3-1.34 3-3-1.34-3-3-3z"/>
          </svg>
          <svg *ngIf="!showConfirmPassword" xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
            <path d="M12 6c-5 0-9 4-9 6s4 6 9 6 9-4 9-6-4-6-9-6zm0 10c-2.21 0-4-1.79-4-4
                    0-.73.21-1.41.58-2l5.42 5.42c-.59.37-1.27.58-2 .58zm4-4c0 .73-.21 1.41-.58 2l-5.42-5.42c.59-.37
                    1.27-.58 2-.58 2.21 0 4 1.79 4 4z"/>
          </svg>
        </button>
      </div>
    </div>

    <button type="submit" [disabled]="!resetForm.valid">
      {{ 'forgot_password.reset_button' | translate }}
    </button>
  </form>

  <!-- Girişe Dön Linki -->
  <div class="form-footer">
    <a (click)="backToLogin()">{{ 'forgot_password.back_to_login' | translate }}</a>
  </div>
</div>